###
 # @Description: 
 # @Author: mahao
 # @Date: 2026-03-19 18:19:04
 # @LastEditors: mahao
 # @LastEditTime: 2026-03-19 18:57:41
### 
# DeepSeek API Key - 从 https://platform.deepseek.com/api_keys 获取
DEEPSEEK_API_KEY='sk-aceaacff17a346d6a8a4f15211a742e5'

# 连接已有 Chrome 的 CDP 地址（openNewWindow=false 时使用）
# 需先以 chrome.exe --remote-debugging-port=9222 启动 Chrome
# 使用 127.0.0.1 避免 localhost 解析到 IPv6 导致 ECONNREFUSED
CDP_URL=http://127.0.0.1:9222


